* {
	font-family: Gilroy, sans-serif;
}

body {
	overflow: hidden;
	user-select: none;
}

.animations-panel {
	position: absolute;
	left: calc(50% - 59vh);
	top: calc(50% - 40vh);
	width: 119vh;
	height: 70vh;
	flex-direction: column;
	display: none;
}

.search-engine {
	margin-right: 0.3vh;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 2px;
	display: flex;
	position: fixed;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 20%;
	left: 63.28125%;
	height: 3.5vh;
}

.search-engine>input {
	outline: none;
	border: none;
	background: none;
	width: 80%;
	color: white;
}

.search-engine>i {
	color: white;
	margin-right: 1vh;
}

.popup-notification {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-size: 66.0625%;
	line-height: 3.9vh;
	color: rgb(208, 208, 208);
	border-radius: 2px;
	width: max-content;
	padding: 0px 1vh;
	display: none;
}

.notification {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-size: 66.0625%;
	line-height: 3.9vh;
	color: rgb(208, 208, 208);
	border-radius: 2px;
	width: max-content;
	padding: 0px 1vh;
	top: -4.3vh;
	right: 0px;
	display: none;
}

.upper-panel {
	font-family: Akrobat, sans-serif;
	font-style: normal;
	height: 3.5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.animations-bar {
	font-family: Akrobat, sans-serif;
	padding-top: 1vh;
	font-style: normal;
	height: 3.5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#bottom-upper-panel {
	padding: 0.5vh;
	height: 0.5vh;
	background-color: rgba(0, 0, 0, 0.7);
	border-bottom-left-radius: 1.5vh;
	border-bottom-right-radius: 1.5vh;
}

.categories-label {
	font-family: Akrobat, sans-serif;
	position: absolute;
	width: 3.85%;
	height: 1.574%;
	left: 0.26%;
	top: 0.37%;
	font-weight: 600;
	font-style: normal;
	font-size: 112.5%;
	line-height: 95%;
	color: rgb(255, 255, 255);
}

.animations-label {
	font-family: Akrobat, sans-serif;
	position: absolute;
	width: 10%;
	height: 1.57%;
	left: 0.26%;
	top: 11.93%;
	font-weight: 600;
	font-style: normal;
	font-size: 112.5%;
	line-height: 95%;
	color: rgb(255, 255, 255);
}

.animations-line {
	position: absolute;
	width: 57.02083333333333%;
	height: 1.5px;
	left: 11.53125%;
	top: 13.13%;
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

.categories-line {
	position: absolute;
	width: 47.5%;
	height: 1.5px;
	left: 7.53125%;
	top: 1.53%;
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

.settings-panel {
	display: flex;
	position: fixed;
	flex-direction: row;
	width: 60%;
	right: -14.376041666666664%;
}

.panel {
	height: 3.5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#categories-panel {
	padding-right: 0.85vh;
	padding-top: 0.2vh;
	padding-bottom: 0.2vh;
	height: 2.5vh;
}

.panel-options {
	display: flex;
	flex-direction: row;
	width: 60%;
}

.option {
	font-family: Akrobat, sans-serif;
	font-weight: 600;
	font-style: normal;
	width: max-content;
	background: center center rgba(0, 0, 0, 0.7);
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5vh;
	line-height: 2.9vh;
	height: 2.9vh;
	color: rgb(255, 255, 255);
	padding: 0px 2.6vh;
	border-radius: 2px;
	transition: background 0.4s ease 0s;
}

.option.active {
	background: rgb(61, 61, 76);
}

.option.material-icons {
	width: 3vh;
	height: 2.9vh;
	line-height: 2.9vh;
	font-size: 2vh;
	padding: 0px;
	color: rgb(255, 255, 255);
}

.option.sets-icons {
	font-family: Akrobat, sans-serif;
	font-weight: 600;
	font-style: normal;
	width: 3vh;
	height: 2.9vh;
	line-height: 2.9vh;
	font-size: 2vh;
	padding: 0px;
	color: rgb(255, 255, 255);
}

#categories-panel .option {
	line-height: 2.5vh;
	font-size: 1.1vh;
	width: calc(20% - 0.5vh);
}

.option:not(.option:last-child) {
	margin-right: 0.3vh;
}

.option:last-child {
	margin-right: 0px;
}

.option:hover {
	cursor: pointer;
	background: linear-gradient(95.08deg, rgba(0, 0, 0, 0.7) 0%, rgba(155, 77, 219, 0.3) 100%);
	color: white;
}

.option:active {
	background-color: rgb(106, 28, 116);
	background-size: 100%;
	transition: background 0s ease 0s;
}

.active {
	background-color: rgba(106, 28, 116, 0.6) !important;
	color: white !important;
}

.animations-list {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: calc(100% - 3.5vh);
	place-content: flex-start;
	overflow-y: auto;
}

.item {
	margin-top: 0.75vh;
	width: calc(20% - 0.75vh);
	height: calc(10%);
	background: center center rgba(0, 0, 0, 0.7);
	border: 1px solid rgba(0, 0, 0, 1);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: rgb(198, 198, 198);
	text-align: center;
	transition: background 0.4s ease 0s;
	border-radius: 2px;
}

.item:not(.item:last-child) {
	margin-right: 0.75vh;
}

.item:hover {
	background: linear-gradient(95.08deg, rgba(0, 0, 0, 0.7) 0%, rgba(155, 77, 219, 0.3) 100%);
	border: 1px solid rgba(0, 0, 0, 1);
	box-sizing: border-box;
	border-radius: 2px;
}

.item:active {
	background-color: rgba(106, 28, 116, 0.6);
	background-size: 100%;
	transition: background 0s ease 0s;
}

.label {
	color: white;
	font-weight: 700;
	font-size: 1.5vh;
	text-transform: capitalize;
	text-shadow: black -1px 0px, black 0px 1px, black 1px 0px, black 0px -1px;
}

.description {
	color: rgba(255, 255, 255, 0.7);
	font-size: 1vh;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-right: 2.5vh;
	white-space: pre;
}

.popularity {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 5vh;
	margin-left: 1.5vh;
}

.popularity i {
	color: white;
	font-size: 2vh;
	margin-right: 0.5vh;
	background-position: center center;
	transition: color 0.4s ease 0s;
}

.popularity i.fa-heart {
	color: rgba(255, 255, 255, 0.35);
	font-size: 2vh;
	margin-bottom: 0.5vh;
	width: 2vh;
	background-position: center center;
	transition: color 0.4s ease 0s;
}

.popularity i.fa-heart:hover {
	color: rgb(242, 174, 174);
	cursor: pointer;
}

.popularity i:active {
	color: rgb(240, 50, 50);
	transition: color 0s ease 0s;
}

.red.fa-heart {
	color: rgb(240, 50, 50) !important;
}

.popularity .counter {
	color: white;
	font-size: 1vh;
}

::-webkit-scrollbar {
	margin-left: 5px;
	width: 0px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: none;
}